/Calliope/.idea/*
/Calliope/Calliope.iml
/Calliope/out/*
/Calliope/demoApplication.log
/Calliope/debug.log
/Calliope/target/
/Calliope/.gradle/*
/Calliope/build/*
/Calliope/logs/*
/Calliope/tmp/*
/Calliope/gradlew
/Calliope/gradle/*
/Calliope/gradlew.bat
/Calliope/calliope.properties
/Calliope/exiftool.exe
/Calliope/*.las

/Java Metadata Processor/.idea/*
/Java Metadata Processor/Java Metadata Processor.iml
/Java Metadata Processor/out/*
/Java Metadata Processor/demoApplication.log
/Java Metadata Processor/debug.log
/Java Metadata Processor/target/
/Java Metadata Processor/build/*
/Java Metadata Processor/logs/*
/Java Metadata Processor/tmp/*

/CalliopeAuth/.idea/*
/CalliopeAuth/CalliopeAuth.iml
/CalliopeAuth/out/*
/CalliopeAuth/demoApplication.log
/CalliopeAuth/debug.log
/CalliopeAuth/target/
/CalliopeAuth/build/*
/CalliopeAuth/logs/*
/CalliopeAuth/tmp/*

/PythonSandbox/.idea/*
/PythonSandbox/venv/*
/PythonSandbox/__pycache__
