/Drone FX/.idea/*
/Drone FX/Drone FX.iml
/Drone FX/out/*
/Drone FX/demoApplication.log
/Drone FX/debug.log
/Drone FX/target/
/Drone FX/.gradle/*
/Drone FX/build/*
/Drone FX/logs/*
/Drone FX/tmp/*
/Drone FX/gradlew
/Drone FX/gradle/*
/Drone FX/gradlew.bat
/PythonTests/.idea/*
/PythonTests/venv/*
/PythonTests/__pycache__