.neon-site-boundary {
    -fx-fill: rgba(0, 0, 255, 0.15);
    -fx-stroke: BLACK;
}

.propertiesPanel {
    -fx-fill: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: white;
}

.expanderBtn {
    -fx-background-radius: 32px;
}

.queryConditionsLvw > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.queryConditionsLvw > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:focused,
.queryConditionsLvw > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: white;
}
.queryConditionsLvw > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected .label,
.queryConditionsLvw > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:focused .label,
.queryConditionsLvw > .virtual-flow > .clipped-container > .sheet > .list-cell .label {
    -fx-text-fill: black;
}